
// Web font

@mixin font-face ($family, $file) {

  @font-face {
    font-family: $family;
    src: url("#{$path-font}/$file.eot") format("embedded-opentype");
    src: url("#{$path-font}/$file.ttf") format("truetype");
    src: url("#{$path-font}/$file.woff") format("woff");
  }
}
