
// Buttons
.btn{
  &--default {
    background-color: $color-secondary;
    @extend %br-main;
    cursor: pointer;
  }

  &--success {
    background-color: $harlequin;
    @extend %br-main;
  }

  &--error {
    background-color: $bittersweet;
    @extend %br-main;
  }

  &--warning {
    background-color: $coral;
    @extend %br-main;
  }

  &--info {
    background-color: $heliotrope;
    @extend %br-main;
  }
}

.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
  @extend %button;
}
