
// Buttons
.btn{
  &--default {
    background-color: #33ffff;
    border: 1px solid #33ffff;
    margin-top: 20px;
    cursor: pointer;
  }

  &--success {
    background-color: #33cc00;
    border: 1px solid #33cc00;
  }

  &--error {
    background-color: #ff6666;
    border: 1px solid #ff6666;
  }

  &--warning {
    background-color: #ff7f50;
    border: 1px solid #ff7f50;
  }

  &--info {
    background-color: #9f80ff;
    border: 1px solid #9f80ff;
  }
}

.btn--default,
.btn--success,
.btn--error,
.btn--warning,
.btn--info {
  @extend %button;
}
