
// Forms

.form {
  padding-top: 20px;
  padding-bottom: 20px;
  &__label--hidden {
    visibility: hidden;
  }

  &__input {
      display: block;
      border: none;
      border-bottom: 5px solid #00ffcc;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: 20px;
      width: 100%;
    }
}
