
// Forms

.form {
  padding-top: $pad;
  padding-bottom: $pad;
  &__label--hidden {
    visibility: hidden;
  }

  &__input {
      display: block;
      border: none;
      border-bottom: 5px solid $color-primary;
      padding-top: 5px;
      padding-bottom: 5px;
      margin-bottom: $pad;
      width: 100%;
    }
}
