
// Grid

.container {
  max-width: 1080px;
  margin: 20px auto;
  text-align: center;
  padding: 15px;
}

grid__row {
  .grid__col--12 {
  margin: 70px 0;
  }
}
/*
.grid__col--2 {
  text-align: left;
}

.grid__col--3{
  background-color: #d9b3ff;
  text-align: left;
}

.grid__col--4 {
  background-color: #4fe3c2;
  text-align: left;
}

.grid__col--5 {
  background-color: #99ff99;
  text-align: left;
}

.grid__col--6 {
  background-color: #6699ff;
  text-align: left;
}

.grid__col--7 {
  background-color: #ffb3b3;
  text-align: left;
}

.grid__col--8 {
  background-color: #ff884d;
  text-align: left;
}

.grid__col--9 {
  text-align: left;
}

.grid__col--10 {
  text-align: left;
}

.grid__col--11 {
  text-align: left;
}

.centered {
  text-align: left;
}
*/
