
//Typography

@include font-face("Montserrat", Montserrat-Regular);

.container {
 font-family: $stack-helvetica;
}

.link {
  text-decoration: none;
  color: $color-secondary;
  }


.blockquote {
  font: 18px $family, sans-serif;
  border-left: $br-main solid $color-primary;
  border-radius: $br-main;
  @extend %left;
  padding-left: 10px;
  font-style: italic;
}

.headline {
  &--primary {
    color: $color-primary;
    @extend %left;
    margin-left: 10px;
  }

  &--secondary {
    @extend %left;
    color: $grey-alt;
  }
}
