//Typography

.container {
 font-family: 'Montserrat', sans-serif;
}

.link {
  text-decoration: none;
  color: #33ffff;
  }


.blockquote {
  border-left: 5px solid #00ffcc;
  border-radius: 5px;
  @extend %left;
  padding-left: 10px;
  font-size: 18px;
  font-style: italic;
}

.headline {
  &--primary {
    color: #00ffcc;
    @extend %left;
    margin-left: 10px;
  }

  &--secondary {
    @extend %left;
    color: #b3b3b3;
  }
}
