// Base stles

// the universal selector (*)
* {
  box-sizing: border-box;
}



// ul elements
ul {
  list-style-type: none; a {
    display: block;
    padding: 15px 0;
    text-decoration: none;
    color: black;
    opacity: 0.5;
  }
}

// p elements
p {
  text-align: left;
  padding: 0 20px;
  opacity: 0.8;
  line-height: 1.5;
  margin: 0;
  font-size: 18px;
}
