// Base stles

// the universal selector (*)
* {
  box-sizing: border-box;
}



// ul elements
ul {
list-style-type: none;
margin: 0;
padding: 0;
}

// p elements
p {
  text-align: left;
  color: #8c8c8c; 
}
